#!/bin/sh

DJANGODIR={{ application_path }}

# Activate the virtual environment.
cd $DJANGODIR
. {{ virtualenv_path }}/bin/activate
. {{ virtualenv_path }}/bin/postactivate

# Programs meant to be run under supervisor should not daemonize themselves
# (do not use --daemon).
exec python manage.py celerycam --frequency=2.0 --settings={{ celery_application_settings_file }}
