[program:{{ celerycam_application_name }}]
command={{ celery_scripts_dir }}/{{ celerycam_application_name }}_start

autostart=true
autorestart=true

user={{ celery_user }}

stdout_logfile=/var/log/celery/{{ celerycam_application_name }}.log
redirect_stderr = true