#!/bin/bash

export DJANGO_SECRET_KEY='{{ django_secret_key }}'
export EMAIL_HOST={{ smtp_host }}
export EMAIL_HOST_USER={{ smtp_user }}
export EMAIL_HOST_PASSWORD={{ smtp_password }}
export DATABASE_USER={{ db_user }}
export DATABASE_PASSWORD={{ db_password }}